[user]
	name = Nicholas Thomson
	email = nthomsondev@gmail.com
[github]
	user = nthomson
[color]
	ui = true
[color "diff"]
	meta = yellow
	frag = magenta
	old = red
	new = blue
	whitespace = red reverse
